<div id="resume" class="content_2">
    <h1 class="h-bloc">Resume - Personal Info</h1>
    <div class="row">
        <div class="col-md-6 resume-left">
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Experience</div>
                <div class="clear"></div>
            </div>
            <ul class="attributes">
                <li class="first" v-for="entry in experience">
                    <h5>
                        <span v-for="role in entry.roles" v-html="role"></span>
                        <span class="duration">
                            <i class="fa fa-calendar color"></i>
                            <span v-html="entry.cycle"></span>
                        </span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span>
                        <span v-html="entry.owner"></span>
                    </h6>
                    <p v-html="entry.detail"></p>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-6 resume-right">
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <ul class="attributes">
                <li class="first" v-for="item in education">
                    <h5>
                      <span v-html="item.track"></span>
                      <i class="fa fa-calendar color"></i>
                      <span class="duration" v-html="item.cycle"></span>
                    </h5>
                    <h6>
                      <span v-html="item.degree"></span>
                      <i class="fa fa-book"></i>
                      <span v-html="item.where"></span>
                    </h6>
                    <p v-html="item.feels"></p>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-3 resume-right" v-for="entry in competence">
            <div class="title_content" style="float: none;">
                <div class="text_content" v-html="entry.title"></div>
                <div class="clear"></div>
            </div>
            <div class="skills">
                <div v-for="skill in entry.group" class="skillbar clearfix" v-bind:data-percent="skill.metrise">
                    <div class="skillbar-title"><span v-html="skill.title"></span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent" v-html="skill.metrise"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
<!--
    <div class="row">
        <div class="col-md-12">
            <div class="reference clearfix">
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">Client reference</div>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                        <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                        <span>John Doe, UX Designer</span>
                    </li>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                        <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                        <span>Leia Calvi, UX Designer</span>
                    </li>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                        <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                        <span>Maria Callas, UX Designer</span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
-->
</div>
