<div id="develop" class="content_2">
    <h1 class="h-bloc">Open-Source [ My Code ]</h1>
    <div class="container-develop">
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="platforms operating languages framework">All</span></li>
            <li v-for="entry in category"><span class="filter" v-bind:data-filter="entry.name" v-html="entry.text"></span></li>
        </ul>
        <div id="developlist">
            <div v-for="project in projects" v-bind:class="'portfolio '+project.label" v-bind:data-cat="project.label">
                <div class="portfolio-wrapper">		
                    <a v-bind:href="project.links.web" rel="portfolio" v-bind:title="project.title" target="_new">
                        <img v-bind:src="project.cover" v-bind:alt="project.title" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title" v-html="project.title"></a>
                                <span class="text-category" v-html="project.cycle"></span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

